html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #f5f6fa;

}

.login-box {
    max-width: 420px;
    margin: 60px auto;
    padding: 35px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
}

header {
    background: #ffffff;
}

footer {
    margin-top: auto;
    padding: 15px 0;
    background: #fcfcfc;
    text-align: center;
    font-size: 14px;
    color: #555;
}

#topbar {
    background-color: #EB7900;
}

#titlebox {
    background: #6a0987;
    background: linear-gradient(90deg, rgba(106, 9, 135, 1) 1%, rgba(89, 2, 15, 1) 100%);
}

#topbar .title {
    font-size: 1rem;
    color: #fafafa;
    padding: 3px;
}

#titlebox .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fafafa;
    padding: 3px;
    display: inline-block;
}

.account_head {
    float: right;
    padding: 3px;
    color: #fafafa;
    font-weight: bold;
}